<main>
  <div class="main--div">
    <a class="main--div--button1">Geração 1</a>
    <a class="main--div--button2">Geração 2</a>
  </div>
  <div class="main--div2">
    <a class="main--div--buttons">Poke 1</a>
    <a class="main--div--buttons">Poke 2</a>
    <a class="main--div--buttons">Poke 3</a>
    <a class="main--div--buttons">Poke 4</a>
    <a class="main--div--buttons">Poke 5</a>
    <a class="main--div--buttons">Poke 6</a>
    <a class="main--div--buttons">Poke 7</a>
    <a class="main--div--buttons">Poke 8</a>
  </div>

  <div class="main--div3">
    <div class="main--div3-c1">
      <div class="main--div3-c1-p1">
        <img src="6cc3514f59ddbcbafe0a8e4875642ef3-icone-de-tracado-da-camera-rangefinder.png" alt="">
      </div>
      <div class="main--div3-c1-p2">
        <h3>NOME EM INGLÊS</h3>
        <h4>nome em japonês</h4>
        <h4>GENUS</h4>
        <div class="main--div3-c1-p3">
          <a class="main--div3-c1-p3-b" href="">TIPO A</a>
          <a class="main--div3-c1-p3-b" href="">TIPO B</a>
        </div>
      </div>
      <div class="main--div3-c1-p4">
        <h4>#0000</h4>
      </div>
    </div>
    <div class="main--div3-c2">
      <div class="main--div3-c2-p">
        <p>asdfasdfasdfasdfasdfasdfasd</p>
      </div>
    </div>
  </div>



</main>






<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>


<router-outlet></router-outlet>